@import url('https://img.freepik.com/photos-gratuite/ancien-mur-ciment-texture_1149-1280.jpg?w=2000');

body {
    background-image: url("https://img.freepik.com/photos-gratuite/ancien-mur-ciment-texture_1149-1280.jpg?w=2000");
    background-color: white;
    font-family: Arial;
    font-size: 94%;
    text-align: center;
}
h1 {
    font-size: 200%;
    color: red;
    text-align: center;
    border-width:3px;
    border-style:double;
    border-color:black;
}

h3 {
    font-size: 100%;
    color: steelblue;
    text-align: center;
}