@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Handlee&family=Purple+Purse&display=swap');

#general {
    background-image: url("https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg?w=996&t=st=1671205087~exp=1671205687~hmac=a5b24ed7dd8e0fea25d70f929724060f5b3cdf02ea21da49331a1e401fad2da0");
    background-size: 2200px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Purple Purse', cursive;
    zoom: 70%;

}


#chartecase {
    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/9322054-blanc-et-gris-abstrait-fond-tendance-blanc-futuriste-fond-utilisation-pour-entreprise-entreprise-institution-affiche-modele-fete-festif-seminaire-eps10-illustrationle-gratuit-vectoriel.jpg");
    background-color: white;
    font-family: Arial, cursive;
    font-size: 90%;
    text-align: center;
}

#localcase {
    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/4586062-blanc-gris-abstract-background-conception-de-fond-avec-style-propre-et-moderne-lisse-blanc-et-gris-fond-degrade-modele-vectoriel.jpg");
    background-size: 1550px;
    padding: 0px;
    margin: 0px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Purple Purse', cursive;
}

accueil h1 {
    text-align: center;
    border: none;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
    background-color: gray;
    color: lightskyblue;
}

.local h1 {
    font-size: 200%;
    color: red;
    text-align: center;
    border-width:3px;
    border-style:double;
    border-color:black;
    padding: 10px;
}

.local div {
    font-size: 100%;
    color: black;
    text-align: center;
    border-width:3px;
    border-style:double;
    border-color:black;
}

.local h3 {
    font-size: 100%;
    color: steelblue;
    text-align: center;
}

.charte h1 {
    font-size: 200%;
    color: red;
    text-align: center;
    border-width:3px;
    border-style:double;
    border-color:black;
}

.charte h3 {
    font-size: 100%;
    color: steelblue;
    text-align: center;
}

.deconnexion h1 {
     text-align: center;
     border: none;
     padding: 5px;
     text-decoration: none;
     display: inline-block;
     font-size: 1rem;
     border-radius: 8px;
     background-color: black;
     color: lightskyblue;
}

form{
    background-color: white;
    padding: 35px 80px 35px 80px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    border:5px solid black;
}

form .gauche2{
    text-align: center;
}

form .Aide{
    text-align: center;
}

form h1{
    font-size: 30px;
    text-align: center;
}
form .Separation{
    width: 100%;
    height: 2px;
    background-color: cornflowerblue;
}
form .Formulaire{
    margin-bottom: 30px;
    margin-top: 20px;

}
form .Formulaire .Groupe{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
form .Formulaire .Groupe input{
    margin-top: 3px;
    padding: 4px 7px 4px 2px;
    border : 2px solid gray;
    outline-color: cornflowerblue;
    border-radius: 5px;
}

form .Formulaire .Groupe textarea{
    margin-top: 3px;
    padding: 4px 7px 4px 2px;
    border : 2px solid gray;
    outline-color: cornflowerblue;
    border-radius: 5px;
}

form .mdpOublie{
	text-align: right;
}

form .Validation{
	text-align: center;
}

form .Validation input {
    background-color: lightskyblue;
    border: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
}

form .Validation input[type=submit]:hover {
    background-color: black;
    color: lightskyblue;
}


form .piedDePage .mdpOublie {
    color: lightblue;
    padding: 20px 0px 15px 0px;
    font-size: 1rem;
}

form .Separation2{
    width: 100%;
    height: 2px;
    background-color: cornflowerblue;
    margin: 1px;
}

form .CssUnified .Phrase{
    text-align: center;
}

form .CssUnified .CSS1 input{
    background-color: lightskyblue;
    border: none;
    color: black;
    padding : 5px;
    text-decoration: none;
    font-size: 1rem;
    margin: 10px;
    margin-top: -10px;
    border-radius: 8px;
}


form .CssUnified .CSS1 input:hover {
    background-color: black;
    color: lightskyblue;
}

form .CssUnified .piedDePage2 .droite{
	text-align: center;
    position: absolute;
    left: 118%;
}

form .CssUnified .piedDePage2 .droite input{
    border-radius: 90px;
    font-size: 17px;
    padding: 4px 7px 4px 7px;
    background-color: lightskyblue;
    border: none;
    color: black;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}
form .CssUnified .piedDePage2 .gauche{
    text-align: left;
    color: dodgerblue ;

}
form .CssUnified .piedDePage2 {
    display: flex;
    margin-top: 13px;
}

.logo {
    width: 20%;
    height: 80%;

}

form.GroupeLOGO{
    display: inline;
    padding : 1px 2px 1em 4px;
}

form.eyes {
    display: flow;
    padding: 5px;
}

#bouton_francais{
    text-decoration: none;
    padding: 10px;
    font-family: verdana, cursive;
    font-size: 0.6em;
    color: #FFFFFF;
    background-color: #548dd4;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border: 0px solid #000000;
}

#bouton_englais{
    text-decoration: none;
    padding: 10px;
    font-family: verdana, cursive;
    font-size: 0.6em;
    color: #FFFFFF;
    background-color: #548dd4;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border: 0px solid #000000;
}

#retour_boutton {
    border-radius: 90px;
    font-size: 17px;
    padding: 4px 7px 4px 7px;
    background-color: lightskyblue;
    border: none;
    color: black;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}

