body{
    background-color: #d6ecfd;
}


#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    padding: 1%;
    right: 1%;
    border: 3px solid white;
    background: lightgrey;
    box-shadow: 3px 3px 3px 3px dimgrey;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 9px;
    border: 1px solid #729bbd;
    box-sizing: border-box;
}
input[type=number], input[type=date]{
    width: 29%;
    padding: 12px 9px;
    border: 1px solid #729bbd;
    box-sizing: border-box;
}

.global .Groupe1 {
    margin-right: 25px;
    margin-top: 10px;
    border: 6px solid white;
    padding: 5px 20px 5px 5px;
}

.global .Groupe1 label{
    font-size: 19px;
}

.global .Groupe1 .Boolean label{
    font-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Handlee&family=Purple+Purse&display=swap');

.global .bas .Titreform{
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Purple Purse', cursive;

}

.global .bas .Groupe{
    margin: 12px 0px;
}
.global .bas .Groupe .groupeErreur{
    background-color: white;
    border: 3px solid red;
    width: 38%;
    padding: 5px 5px;
    margin-bottom: 10px;
}
.global .bas .Groupe li{
    margin-bottom: 10px;
}

.global .bas .lesForms #boutondebut, #boutondebut1, #boutondebut2{
    background-color: wheat;
    color: black;
    margin: 0px 8px;
    cursor: pointer;
    width: 150px;
    border: 1px solid gray;
}

.global .bas .Groupe label{
    font-size: 19px;
}
/* Set a style for all buttons */
.global .bas input[type=submit] , button[type=button] , input[type=button]{
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0px;
    border: 1px solid #729bbd;
    cursor: pointer;
    width: 11%;
}

.contenuRech input[type=button]{
    margin-left: 200px;
}

.global .bas input[type=submit]:hover , button[type=button]:hover, input[type=button]:hover{
    background-color: white;
    color: gray;
    border: 1px solid black;
}

.global .bas .Groupe p{
    margin: -2px 5px;
}

.global .bas .Groupe1 p{
    margin: -2px 5px;
}

.global{
    width: 100%;
}

.gauche{
    float: left;
    width: 20%;
    /*background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210924/pngtree-health-care-abstract-light-effect-icon-decoration-image_906585.png") ;
    */
    background-color: #729bbd;
    height: 90%;
    position: absolute;
    left: 0px;
    top: 10%;
    z-index: 1;
    border-right: black solid;
    border-width: thin;
    box-shadow: 2px 0px 0px dimgrey;
}
.droite{
    float: right;
    padding: 1%;

    /*padding: -1% -1% -1% -1%;*/
    width: 78%;
    height: 85.6%;
    position: absolute;
    right: 0px;
    top: 10%;
    left: 20%;
    background-color: #d6ecfd;
}
header{
    width: 100%;
    float: left;
    height: 10%;
    position: absolute;
    top: 0px;
    left: 0%;
    background-color: #729bbd;
    border-bottom: black solid;
    border-width: thin;
    z-index: 2;
    box-shadow: 0px 1px 0px dimgrey;
}

footer{
    height: 6%;
    width: 80%;
    background-color: cornflowerblue;
    position: absolute;
    bottom: 0px;
    left: 20%;
}

.btn-group button {
    background-color: white; /* Green background */
    border: 1px solid black; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin-left: 3%;
    width: 94%;
    border-radius: 5px;
    margin-top: 1%;
    box-shadow: 2px 2px 2px dimgrey;
    font-size: 15px;
    font-family: "Gill Sans MT";
    font-weight: bold;

}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: cornflowerblue;
    box-shadow: 1px 1px 1px dimgrey;
}

.profile{
    width: 95%;
    height: 40%;
    background-color: dimgrey;
    margin: 2% 1% 1% 2%;
    border-radius: 5px;
    border: black solid;
}

.logo {
    width: 10%;
    height: 90%;
    margin-top: 0.25%;
    margin-left: 0.25%;

}

.grid-container {
    display: grid;
    grid-template-columns: 16.2% 16.2% 16.2% 16.2% 16.2% 16.2%;
    height: 85%;
    width: 96.6%;
    gap: 5px;
    background-color: lightgrey;
    padding: 5px;
    box-shadow: 3px 3px 3px 3px dimgrey;
    font-family: Arial;
    font-size: 11px;
    z-index: 10;
    position: absolute;
}

.grid-container > div {
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 3px 2px 2px dimgrey;
    min-width: 16.1%;
    min-height: 14.16%;
}


.hide{
    position: absolute;
    margin: 0% 5% 0% 15%;
    background-color: bisque;
    min-width: 20%;
    height: 20%;
    visibility: hidden;
    box-shadow: 1px 1px 1px 1px dimgrey;
}

.hideLeft{
    position: absolute;
    right: 1px;
    background-color: bisque;
    width: 20%;
    height: 20%;
    visibility: hidden;
    box-shadow: 1px 1px 1px 1px dimgrey;
}

.global .bas {
    background-color: #d6ecfd;
    width: 96%;
    height: 95%;
    padding: 0% 2% 2% 2%;

}

.global .bas #form {
    background-color: whitesmoke;
    width: 98%;
    height: 91%;
    overflow: auto;

}
.global .bas .lesForms button {
    background-color: white;
    color: black;
    padding: 3px 20px;
    margin: 2px;
    border: none;
    cursor: pointer;
}

/***********************************************************/
/*MDF dpi*/

.bas .recherche{
    height: 15%;
    width: 100%;

}
.bas .separation{
    padding: 1px;
    background-color: black;
}

.bas .recherche .contenuRech .reche , select{
    width: 30%;
    padding: 14px 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bas .recherche .contenuRech input[type=submit]{
    width: 10%;
    padding: 14px 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.recherche .labIPP {
    font-size: 20px;
}
.bas .recherche .contenuRech{
    margin-top: 12px;
}

#bouton1, #bouton2, #bouton3{
    width: 25%;
    height: 25%;
    margin: 30px;
}

.accueil_bouton_mdf label{
    font-size: 20px;
}

#logout {
    position: relative;
    background-color: cornflowerblue; /* Green */
    color: white;
    padding: 1px 1px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    margin: 16px 0;
    width: 70px;
    left: 82%;
    bottom: 20%;
}

#logout:hover{
    box-shadow: 2px 2px black;

}

#img_logout{
    width: 80%;
    height: 80%;
}

.div-norm-scenario{
    border: black medium solid;
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 6%;
}

.btn-norm{
    padding: 1%;
    border-radius: 10px;
    border: black thin solid;
    margin-left: 10px;
    background-color: white;
    height: 100%;

}

.btn-norm:hover{
    box-shadow: black 1px 1px;
    cursor: pointer;
}